{% extends 'trolley/base.html' %}
{% load static %}

{% block title_block %}About MegaTrolley{% endblock %}

{% block header_block %}About MegaTrolley{% endblock %}

{% block body_block %}
    <p class="text-justify">Online shopping has seen a sharp rise in recent years. More people are finding it as a more convenient and
        attractive option, especially after the uncertainty caused by COVID-19. There are many choices when it
        comes to picking a place to shop, and it can be tiresome to shop with multiple providers and inconvenient
        when expecting several deliveries. While there do exist websites containing many big brands, nothing
        currently exists for more retailer-specific items.
    </p>

    <p class="text-justify">Enter MegaTrolley, an easy-to-use web application which takes in hundreds of products from several retailers
        for you to choose from, all in one place. While currently small, it has a lot of potential for future expansion.
    </p>

    <p class="text-justify">Thank you for using MegaTrolley!</p>
{% endblock %}