<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title_block %}{% endblock %}</title>

</head>
<body>
    <form action="{% url 'searchResults' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>

    <h1>{{ title }}</h1>

    {% block body_block %}{% endblock %}

    <div>
        <a href="{% url 'searchResults' %}">Search results page</a>
        <a href="{% url 'account' %}">Account page</a>
        <a href="{% url 'checkout' %}">Checkout page</a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'register' %}">Sign Up</a>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</body>
</html>