{% extends 'trolley/base.html' %}

{% block title_block %}Your basket{% endblock %}

{% load static %}

{% block header_block %}Here is your basket{% endblock %}

{% block body_block %}
    <h3>Total: £{{ order.calculate_basket_total }}</h3>
    <h3>Number of Items: {{ order.get_basket_quantities }}</h3>

    <div class="box">
        <div class="row">
            <div style="flex: 2"></div>
            <div style="flex: 2"><strong>Item</strong></div>
            <div style="flex: 1"><strong>Price</strong></div>
            <div style="flex: 1"><strong>Quantity</strong></div>
            <div style="flex: 1"><strong>Total</strong></div>
        </div>

        {% for retailer, items in retailers.items %}
            <div class="row">
                <h3>Products from {{ retailer }}</h3>
            </div>
            {% for item in items %}
            <div class="row">
                <div style="flex: 2"><p>{{ item.product.name }}</p></div>
                <div style="flex: 1"><p>{{ item.product.price }}</p></div>
                <div style="flex: 1"><p>{{ item.quantity }}</p></div>
                <div style="flex: 1">£{{ item.calculate_total }}</div>
            </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div>
        <form id="place_form" method="post" action="{% url 'place-order' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="submit" name="place-order" value="Place Order" />
        </form>
    </div>
{% endblock %}