{% extends 'trolley/base.html' %}

{% block title_block %}Home{% endblock %}

{% load static %}

{% block header_block %}
    {% if ordered %}
        Order Placed Successfully
    {% else %}
        Welcome to MegaTrolley
    {% endif %}
{% endblock %}

{% block sub_header %}
    {% if ordered %}
        Thank You for Shopping With Us!
    {% else %}
        Shop Multiple Retailers From One Site
    {% endif %}
{% endblock %}


{% block body_block %}

    {% if products %}
        <ul>
            {% for p in p_suggestions %}
                <li>
                    <a href="{% url 'product' p.slug %}">{{ p.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}