{% extends 'trolley/base.html' %}
{% load static %}

{% block title_block %}My Orders{% endblock %}

{% block header_block %}My Orders{% endblock %}

{% block body_block %}

    {% if has_orders %}
        {% for order, items in orders %}
            <h3>{{ order.data_ordered }} - £{{ order.calculate_basket_total }}</h3>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" id="dropdownButton" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Show
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownButton">
                    {% for item in items %}
                        <p class="dropdown-item">{{ item.quantity }} x <a href="{% url 'product' item.product.slug %}">{{ item.product.name }}</a> - £{{ item.product.price }}</p>
                    {% endfor %}
                </div>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <h3>No recent orders</h3>
    {% endif %}

    <script>
    function drop(){
        document.getElementById("dropEls").classList.toggle("show")
    }
    </script>
{% endblock %}