{% extends 'trolley/base.html' %}

{% load static %}

{% block title_block %}Product{% endblock %}

{% block header_block %}
    {% if product %}
    {{ product.name }}
    {% else %}
    Product Page
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if product %}
        <div class="row">
            <div class="col">
                <img src="{{ product.picture.url }}" alt="Product Image" width="200" height="200"/>
                <p>£{{ product.price }}</p>
                {% if in_basket %}
                    <p><strong>Item in basket</strong></p>
                {% else %}
                    <button data-product="{{ product.id }}" data-action="add" class="update-basket">
            Add to Basket</button>
                {% endif %}
            </div>
            <div class="col">
                <p>{{ product.desc }}</p>
            </div>
            <div class="col">
                {% with 'img/'|add:product.retailer|lower|add:'.png' as fname %}
                    <img src="{% static fname %}" alt="store" width="200" height="200">
                {% endwith %}
                <br/>
                <a href="{{ product.site_url }}">See on retailer's website</a>
            </div>
        </div>

    {% else %}
        <strong>No Products here</strong>
    {% endif %}


{% endblock %}