{% extends 'trolley/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_block %}Register{% endblock %}

{% block header_block %}Register Here{% endblock %}

{% block body_block %}

    {% if registered %}
        <h1>You are registered!</h1>
        <a href="{% url 'login' %}">Log In</a>
    {% else %}
        <form id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
            {% csrf_token %}

            {{ user_form|crispy }}

            <button type="submit" class="btn btn-success">Register</button>
        </form>
    {% endif %}
{% endblock %}