{% extends 'trolley/base.html' %}

{% block title_block %}Search Results {% endblock %}

{% load static %}

{% block header_block %}Results for "{{ search_term }}"{% endblock %}

{% block body_block %}
    <ul style="list-style: none">
        {% for p in products %}
            <li>
                <div class="row">
                    <div class="col-sm-1">
                        <img src="{{ p.picture.url }}" alt="product" width="50" height="50">
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url 'product' p.slug %}">{{ p.name }}</a>
                        <p>£{{ p.price }}</p>
                    </div>
                    <div class="col-sm-3">
                        {% with 'img/'|add:p.retailer|lower|add:'.png' as fname %}
                        <img src="{% static fname %}" alt="store" width="50" height="50">
                        {% endwith %}
                    </div>
                </div>

            </li>
        {% endfor %}
    </ul>
{% endblock %}